<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CoDraw</title>

		<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/addons/p5.sound.min.js"></script>

		<style>
			.body {
				margin: 0;
				padding: 20px;
			 }
			.canvas { display: block; }

			.button {
		  background-color: #C7C7C7;
		  border-radius: 12px;
		  color: white;
		  padding: 20px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  width: 100px;
		  }
		</style>

		<div class="jumbotron text-center">
<h1>codesign vr</h1>
<p>codesign!</p>
</div>


<div class="sidenav">

  <h3>CAR?</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum..</p>
    </div>
  </div>
</div>
<div class = "container">
<img src="./public/res/fronttcar.jpg"alt="Image">s
</div>
		</head>
	<body>
		<script src="./public/libs/three.js"></script>
    <script src="/socket.io/socket.io.js"></script>
		<script src="./public/js/sketch.js"></script>

		<script>


		</script>
	</body>
</html>
